__pycache__/
**/__pycache__/
**/**/__pycache__/
**/**/**/__pycache__/
**/**/**/**/__pycache__/
**/**/**/**/**/__pycache__/
**/**/**/**/**/**/__pycache__/
**/**/**/**/**/**/**/__pycache__/

.gradle/
**/.gradle/
**/**/.gradle/
**/**/**/.gradle/
**/**/**/**/.gradle/
**/**/**/**/**/.gradle/
**/**/**/**/**/**/.gradle/
**/**/**/**/**/**/**/.gradle/

.idea/
**/.idea/
**/**/.idea/
**/**/**/.idea/
**/**/**/**/.idea/
**/**/**/**/**/.idea/
**/**/**/**/**/**/.idea/
**/**/**/**/**/**/**/.idea/

build/
**/build/
**/**/build/
**/**/**/build/
**/**/**/**/build/
**/**/**/**/**/build/
**/**/**/**/**/**/build/
**/**/**/**/**/**/**/build/

dist/
**/dist/
**/**/dist/
**/**/**/dist/
**/**/**/**/dist/
**/**/**/**/**/dist/
**/**/**/**/**/**/dist/
**/**/**/**/**/**/**/dist/

out/
**/out/
**/**/out/
**/**/**/out/
**/**/**/**/out/
**/**/**/**/**/out/
**/**/**/**/**/**/out/
**/**/**/**/**/**/**/out/


**/.gradle
**/.gradle/
**/.gradle/*
**/.gradle/**

**/.idea
**/.idea/
**/.idea/*
**/.idea/**

**/build
**/build/
**/build/*
**/build/**

**/out
**/out/
**/out/*
**/out/**

**/dist
**/dist/
**/dist/*
**/dist/**

**/fontbox/build
**/fontbox/build/
**/fontbox/build/*
**/fontbox/build/**

**/pdfbox/build
**/pdfbox/build/
**/pdfbox/build/*
**/pdfbox/build/**
